/* Body */

body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #C9D8B6;
  margin: 0;
  letter-spacing: .12em;

}


/* Header page  */


.logo-link {
  text-decoration: none;
  color: #C9D8B6;
}

.top {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 50%; */
  background-color: #515E63;
  color: #C9D8B6;
  display: flex;
  z-index: 1;
}



.top-img {
  width: 100px;
  height: 100px;
  padding: 10px;
  float: left;
}

.nav-note h1 {
  position: relative;
  left: 10px;
}

.nav-note p {
  line-height: .1em;
  position: relative;
  left: 37%;
}


.home-icon {
  position: absolute;
  right: 12%;
  top: 40%;
}

.nav-register {
 
  position: absolute;
  right: 8%;
  top: 40%;
}

.nav-login {
  
  position: absolute;
  right: 3%;
  top: 30%;
}




/* Index page  */

#navigate-apps h2 {

  text-align: center;
    position: absolute;
    top: 20%;
    left: 35%;
}

.navigate-line {

  background-color: #EEEEEE;
    /* margin: 2% 30%; */
    /* padding: 1%; */
    color: #fff;
    opacity: .4;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 33%;

}

.navigate-image {
  display: inline-block;
  z-index: 2;
  background-color: #B2B1B9;
  color: #fff;
  transition: background-color 1s;
  border-radius: 10px;


}

.navigate-inside a {
  text-decoration: none;
  color: black;

}

.navigate-inside {
  position: absolute;
      left: 35%;
      top: 31%;
}





.navigate-image:hover {
  background-color: #004369;
}

.navigate-image:focus,
.navigate-image:active {
  background-color: black;
  transition: none;
}


.nav-qr-img {
  margin: 10%;
}


/* Timesheet page  */

#timesheet {

background-color: #EEEEEE;
width: 140px;
height: 340px;
padding: 1.5%;
border-radius: 10px;
position: fixed;
top: 30%;
left: 2%;
}

.timesheet-nav-div {
  height: 160px;
}

.timesheet-nav-div a {
  text-decoration: none;
  color: darkgreen;
}

.timesheet-img {
  max-width: 100px;
  max-height: 100px;
  padding: 5%;
  margin: 0;

}

.timesheet-caption {

  font-size: 12px;
    text-align: center;
    margin: 0;
    padding-left: 20px;
}

.timesheet-hr {
  margin: 15px ;
}


#content {
  margin-left: 1%;
}


/* My timesheet page  */

.my-timesheet-table {

    background-color: #F8F5F1;
    opacity: 100;
    position: absolute;
    top: 30%;
    left: 35%;
    border-radius: 10px;

}

.my-timesheet-table th,
.my-timesheet-table td {
  border: 1px solid #333;
  border: 1px solid #ddd;
  padding: 8px;

}

.my-timesheet-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.my-timesheet-table tr:hover {
  background-color: #ddd;
}

.my-timesheet-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D8E3E7;
  color: black;
}

/* .my-timesheet-class {
  padding-left: 20%;
} */

.add-task-form {
/*
    background-color: #515E63;
    width: 20%;
    height: 30%;
    padding: 2%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 30%; */

    background-color: #515E63;
        /* width: 30%; */
        height: 35%;
        padding: 2%;
        border-radius: 10px;
        position: fixed;
        top: 30%;
        left: 17%;
}

.task-button1,
.task-button2, .task-button3 {

  padding: 2%;

}

.task-button1 {
  margin-top: 3%;
  /* margin-left: 40%; */
}

.task-button2 {
  margin-top: 3%;
  margin-left: 1%;
}

.my_timesheet_div {
  position: relative;
}

.done {
  /* background-color: #515E63; */
  width: 5%;
  /* margin-left: 85%; */
  border-radius: 5px;
  padding: 1px;
  display: inline-block;
  /* float: right; */
  position: absolute;
  left: 80%;


}

.done a {
  text-decoration: none;
  color: whitesmoke;
}

#list-task {
  padding: 0;
    color: whitesmoke
}


/* qrcode page */

.wrap {

    position: absolute;
    left: 23%;
    top: 32%;

}

.content {
  margin-right: 30px;
}

.qr-class {

margin-left: .5rem;
box-shadow: inset 5px 0 5px -5px #29627e;
position: fixed;
right: 10%;
top: 30%;

}


#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 15em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

/* Timesheet record page  */

.table-class {
  /* background-color: beige;
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 5%;
  padding: 2%;
  border-radius: 10px; */

  background-color: beige;
    /* margin-left: 20%; */
    /* margin-top: 10%; */
    /* margin-right: 5%; */
    /* padding: 2%; */
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 25%;

}

.record-table th,
.record-table td {
  border: 1px solid #333;
  border: 1px solid #ddd;
  padding: 8px;

}

.record-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.record-table tr:hover {
  background-color: #ddd;
}

#table-id{

    position: absolute;
    top: 70%;
    left: 23%;

}

/* Register page */

.register-main {
  background-color: #C9D8B6;

}

.register {


width: 30%;
background-color: #515E63;
padding: 1% 2% 1% 3%;
border-radius: 5%;
position: absolute;
top: 30%;
left: 33%;

}

/* Login page */

.login-main {
  background-color: #C9D8B6;

}

.login {


width: 30%;
background-color: #515E63;
padding: 2% 2% 5% 3%;
border-radius: 5%;
position: absolute;
top: 30%;
left: 33%;

}

input[type=text],input[type=email],
input[type=password] {
  width: 90%;
  padding: 1.5%;
  border-radius: 6px;
}

.btn {
  width: 94%;
  margin-top: 1%;
  padding: 2%;
  border-radius: 6px;

  background-color: #F9F9F9;
}

/* Footer Section */
/* 
.footer {
  margin: 0 auto;
  background-color: #515E63;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; 
}

.footer p {

  line-height: 1rem;
  text-align: center;

} */
