/* Body */

body {
    /* font-family: 'Balsamiq Sans', cursive; */
    /* font-family: 'Montserrat' ; */
    /* font-family: 'Prompt', sans-serif; */
    font-family: "Titillium Web";
    /* font-family: 'Open Sans', sans-serif, 'Source Sans Pro', sans-serif; */
    /* background-color: #FFFFFF; */
    background-color: #EFFBFF;
    margin: 0;
    letter-spacing: .1em;
}


/* Header page  */

#loggedIn {
    position: absolute;
    top: 37%;
    left: 66%;
    font-size: 16px;
    color: #0560AF;
    /* color: #ddd; */
}

#loggedIn a {
    text-decoration: none;
    color: #0560AF;
    padding-bottom: 5%;
    /* color: palegoldenrod; */
}

.logo-link {
    text-decoration: none;
    color: #C9D8B6;
}

.top {
    margin: 0;
    /* position: sticky; */
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 50%; */
    background-color: #FFFFFF;
    color: #C9D8B6;
    display: flex;
    z-index: 1;
}

.top-img {
    width: 100px;
    height: 100px;
    float: left;
    clear: right;
}

.nav-note h1 {
    position: absolute;
    margin-top: 1%;
    left: 8%;
    color: #071647;
}

.nav-note p {
    line-height: 2em;
    position: absolute;
    top: 51%;
    left: 8.1%;
    color: #86CBFF;
}

.list-user-header {
    text-decoration: none;
    /* margin-left: 10%; */
    position: absolute;
    left: 90%;
    top: 39%;
}

.home-icon {
    position: absolute;
    right: 12%;
    top: 35%;
    vertical-align: middle;
}


/* .header-icon img[src$=".svg"]:hover{
  color: #006FB1;
} */

.nav-register {
    position: absolute;
    right: 7.7%;
    top: 35%;
}

.nav-login {
    position: absolute;
    right: 4%;
    top: 35%;
}


/* Index page  */

.features p {
    font-size: 21px;
    line-height: 31px;
    color: #636B7B;
}


/* Features page  */

#features-section {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 60px;
    border-color: red;
    /* margin: 2%; */
    /* background-color: #FFFFFF; */
    height: 600px;
}

#register-section {
    background-color: #FFFFFF;
    height: 600px;
    display: flex;
}

.register-index-img {
    position: absolute;
    left: 50%;
}

.register-section li {
    margin-left: 30%;
}

.register-section p {
    color: #88038B;
    font-size: 20px;
    margin-left: 28%;
}

.features-showcase-section {
    padding: 2% 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    color: #07428E;
}

.features-showcase-section-content {
    position: absolute;
    top: 20%;
    left: 10%;
    padding-bottom: 10%;
}

.features-showcase-one-image {
    position: absolute;
    top: 55%;
    left: 9%;
}

#login-section {
    display: flex;
}

.login-both-img {
    margin-left: 20%;
}

.login-self-img {
    margin: auto auto auto 20%;
}

.login-statement {
    /* margin: 20%; */
    margin-left: 10%;
    color: #88038B;
    font-size: 20px;
}

#footer-section {
    height: 50px;
    color: #07428E;
    background-color: #FFFFFF;
    text-align: center;
    padding: 3%;
}


/* --------------------------------MEDIA QUERIES------------------------------- */


/* Extra small devices (600px and down) */

@media only screen and (max-width: 600px) {
    .features-showcase-section {
        flex-direction: column;
        margin: 5%;
    }
}


/* Small devices (600px and up) */

@media only screen and (min-width: 600px) {
    .features-showcase-section {
        flex-direction: column;
        margin: 5%;
    }
}


/* Medium devices (768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (992px and up) */

@media only screen and (min-width: 992px) {
    .features-showcase-section {
        padding: 2% 9%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
    }
}


/* Extra large devices (1200px and up) */

@media only screen and (min-width: 1200px) {}


/* Home log in page  */

#navigate-apps h2 {
    text-align: center;
    margin-top: 10%;
    /* position: absolute;
    top: 20%;
    left: 35%; */
    color: #071647;
}

.navigate-line {
    background-color: #CAEDFA;
    margin: 2% 30%;
    padding: 2%;
    color: #fff;
    opacity: .4;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    /* position: absolute;
    top: 40%;
    left: 32%; */
}

.navigate-first-image {
    z-index: 2;
    background-color: #75C2FA;
    color: #fff;
    transition: background-color 1s;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 100px 50px 10px;
    padding: 10px;
}

.navigate-second-image {
    display: inline-block;
    z-index: 2;
    background-color: #75C2FA;
    color: #fff;
    transition: background-color 1s;
    border-radius: 4px;
    padding: 10px;
}

.navigate-inside a {
    text-decoration: none;
    color: black;
}

.navigate-inside {
    position: absolute;
    left: 35%;
    top: 40%;
}

.navigate-first-image:hover,
.navigate-second-image:hover {
    background-color: #2D1269;
}

.navigate-first-image:focus,
.navigate-first-image:active {
    background-color: black;
    transition: none;
}

.nav-qr-img {
    margin: 10%;
}


/* Timesheet page  */

#timesheet {
    background-color: #EEEEEE;
    width: 140px;
    height: 340px;
    padding: 1.5%;
    border-radius: 10px;
    position: fixed;
    top: 30%;
    left: 2%;
}

.timesheet-nav-div {
    height: 160px;
}

.timesheet-nav-div a {
    text-decoration: none;
    color: darkgreen;
}

.timesheet-caption {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding-left: 20px;
}

.timesheet-hr {
    margin: 15px;
}

#content {
    margin-left: 1%;
}


/* My timesheet page  */

.my-timesheet-table {
    background-color: #F8F5F1;
    opacity: 100;
    position: absolute;
    top: 30%;
    left: 22%;
    border-radius: 10px;
}

.my-timesheet-table th,
.my-timesheet-table td {
    border: 1px solid #333;
    border: 1px solid #ddd;
    padding: 8px;
}

.my-timesheet-table tr:nth-child(even) {
    background-color: #F3F7F9;
}

.my-timesheet-table tr:hover {
    background-color: #ddd;
}

.my-timesheet-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006FB1;
    color: #FFFFFF;
}


/* .my-timesheet-class {
  padding-left: 20%;
} */

.add-task-form {
    /* height: 45%; */
    overflow-x: hidden;
    width: 16%;
    padding: 2%;
    border-radius: 2%;
    position: fixed;
    top: 18%;
    left: 1%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-color: white;
}

.add-task-form label {
    color: #581B80;
    font-weight: 700;
}

.add-task-form form input[type=text] {
    padding-right: 25%;
}

.add-task-form form input[type=time] {
    padding-right: 30%;
    padding-left: 31%;
}

.add-task-form form input[type=date] {
    padding-right: 15%;
    padding-left: 13%;
}

.add-task-form h3 {
    margin-top: 0;
}


/* work */

.btn-grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/* ------------------------ */

.task-button1 {
    margin-top: 3%;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 1px;
    width: 97%;
    border-radius: 2px;
    border: none;
    background-image: linear-gradient(to right, #840388 0%, #d808c3 51%, #840388 100%);
    transition: 0.4s;
    background-size: 200% auto;
}

.task-button2 {
    margin-top: 3%;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 1px;
    width: 97%;
    border-radius: 2px;
    border: none;
    background-image: linear-gradient(to right, #840388 0%, #d808c3 51%, #840388 100%);
    transition: 0.4s;
    background-size: 200% auto;
}

.task-button1:hover,
.task-button2:hover {
    background-position: right center;
}

.my_timesheet_div {
    position: relative;
}

.done {
    /* background-color: #515E63; */
    width: 5%;
    /* margin-left: 85%; */
    border-radius: 5px;
    padding: 1px;
    display: inline-block;
    /* float: right; */
    position: absolute;
    left: 80%;
}

.done a {
    text-decoration: none;
    color: whitesmoke;
}

#list-task {
    padding: 0;
    color: whitesmoke
}

.timesheet-nav-division {
    position: absolute;
    top: 15%;
    right: 3%;
}

.timesheet-nav-division a {
    text-decoration: none;
    color: #091E60;
}

.my-timesheet-caption {
    font-size: 16px;
    margin: 0;
}


/* qrcode page */

.wrap {
    position: absolute;
    left: 23%;
    top: 32%;
}

.content {
    margin-right: 30px;
}

.qr-class {
    margin-left: .5rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    position: fixed;
    right: 10%;
    top: 30%;
}

#qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
}

#btn-scan-qr {
    cursor: pointer;
}

#btn-scan-qr img {
    height: 15em;
    padding: 15px;
    margin: 15px;
    background: white;
}

#qr-result {
    font-size: 1.2em;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
}


/* Timesheet record page  */

.table-class {
    background-color: #F8F5F1;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 4%;
}

.record-table th,
.record-table td {
    border: 1px solid #333;
    border: 1px solid #ddd;
    padding: 8px;
}

.record-table th {
    background-color: #006FB1;
    color: #FFFFFF;
}

.record-table tr:nth-child(even) {
    background-color: #F3F7F9;
}

.record-table tr:hover {
    background-color: #ddd;
}

#table-id {
    position: absolute;
    top: 70%;
    left: 23%;
}

.search-container {
    display: flex;
}

.search-section {
    margin-top: 8%;
    margin-left: 5%;
}

.search-date-section {
    margin-top: 8%;
    margin-left: 1%;
}


/* Update task  */

.update-task-section {
    /* height: 45%; */
    overflow-x: hidden;
    width: 16%;
    padding: 2%;
    border-radius: 2%;
    position: fixed;
    top: 18%;
    left: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-color: white;
}

.update-task-section label {
    color: #581B80;
    font-weight: 700;
}

.update-task-section form input[type=text] {
    padding-right: 25%;
}

.update-task-section form input[type=time] {
    padding-right: 30%;
    padding-left: 31%;
}

.update-task-section form input[type=date] {
    padding-right: 6%;
    padding-left: 13%;
}

.update-task-section h3 {
    margin-top: 0;
}

.update-task-section button {
    cursor: pointer;
}


/* All Timesheet record  */

.all-data {
    background-color: #F8F5F1;
    opacity: 100;
    position: absolute;
    top: 35%;
    left: 1%;
    border-radius: 10px;
}

.all-data th,
.all-data td {
    border: 1px solid #333;
    border: 1px solid #ddd;
    padding: 8px;
}

.all-data tr:nth-child(even) {
    background-color: #F3F7F9;
}

.all-data tr:hover {
    background-color: #ddd;
}

.all-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006FB1;
    color: #FFFFFF;
}


/* Register page */

.register {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.register {
    width: 23%;
    height: 465px;
    background-color: #FFFFFF;
    justify-content: center;
    display: block;
    align-content: center;
    margin: 8% auto auto auto;
    padding: 10px 30px 60px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    border-radius: 2px;
}

.register-box {
    margin-top: 11%;
}

.section-register-title {
    margin-top: 0;
    padding-left: 0.5px;
    color: #580373;
}

#registerName,
#registerEmail,
#registerPassword,
#registerConfirmPassword {
    background-color: #FFFFFF;
    padding: 10px;
    width: 90%;
    height: 20px;
    margin: 10px 0px;
    border: 1px solid #c6d2d9;
    border-radius: 2px;
    color: #333;
    background-clip: padding-box;
    font-size: 14px;
}

input[type=text]:focus {
    border: 1px solid #c6d2d9;
}

.sign-up-create-button {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 15px;
    width: 97%;
    border-radius: 2px;
    border: none;
    background-image: linear-gradient(to right, #840388 0%, #d808c3 51%, #840388 100%);
    transition: 0.4s;
    background-size: 200% auto;
}

.sign-up-create-button:hover {
    background-position: right center;
}


/* Login page */

.login {
    width: 30%;
    /* background-color: #515E63; */
    padding: 1% 1% 3% 1%;
    border-radius: 2%;
    position: absolute;
    top: 30%;
    left: 34%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-color: white;
}

.section-header {
    width: 25%;
}

.section-login-title {
    padding-left: 5%;
    color: #580373;
}

.login-box {
    margin-top: 10%;
}

.login label {
    padding-left: 5%;
}

.login input {
    background-color: #FFFFFF;
    padding: 10px;
    width: 85%;
    height: 20px;
    margin: 10px 20px;
    border: 1px solid #c6d2d9;
    border-radius: 2px;
    color: #333;
    background-clip: padding-box;
    font-size: 14px;
}

.login input:placeholder-shown {
    color: #a2a2a2;
    font-size: 14px;
}

.loginBtn-link {
    width: 100%;
    margin: 15px 38.3px;
}

.loginCard-btn {
    margin-left: -22px;
    width: 92%;
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    font-size: 16px;
    background-image: linear-gradient(to right, #840388 0%, #d808c3 51%, #840388 100%);
    transition: 0.4s;
    background-size: 200% auto;
}

.loginCard-btn:hover {
    background-position: right center;
}


/* Footer Section */


/* 
.footer {
  margin: 0 auto;
  background-color: #515E63;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; 
}

.footer p {

  line-height: 1rem;
  text-align: center;

} */


/* profile page  */

#profile {
    position: absolute;
    top: 40%;
    left: 30%;
}

.profile-table td {
    border: #333 solid;
}


/* -----------------list users admin------------ */

.list-users-admin {
    margin-top: 10%;
    margin-left: 25%;
}