<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="https://project-themes.netlify.app/boot-theme/style.css">
<div class="top">
    <a class="logo-link" href="index.html">
        <img class="top-img" src="assets/images/logo1.svg" alt="brand logo">
        <div class="nav-note">
            <h1>Timesheet</h1>
            <p>a solution for your oblivion...</p>
        </div>
    </a>
    <div class="header-icon">
        <a class="navLog list-user-header" data-loggedIn="true" href="list-users.html">Users List</a>
        <a class="home-icon navLog" data-loggedIn="false" href="index.html"><img src="assets/images/home.svg" alt="home image"></a>
        <div class="nav-register">
            <a class="navLog" data-loggedIn="false" href="register.html"><img src="assets/images/register.svg" alt="Register image"></a>
        </div>
        <div class="nav-login">



            <a class="navLog" data-loggedIn="false" href="home_login.html"><img src="assets/images/login.svg" alt="login image"></a>


        </div>
        <div id="loggedIn">
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    function checkLogin() {
        let userStr = localStorage.getItem("LOGGED_IN_USER");



        let user = userStr != null ? JSON.parse(userStr) : null;
        if (user != undefined || user != null) {

            document.querySelector("#loggedIn").innerHTML = "Welcome <a href = 'profile.html'>" + user.name + "</a>  &nbsp;<a data-loggedIn ='true' href='#' onclick='logout()'> Logout</a>";
        }


    }
    checkLogin();

    function logout() {
        localStorage.removeItem("LOGGED_IN_USER");
        window.location.href = "login.html";
    }
</script>
<script>
    let userStatus = localStorage.getItem("LOGGED_IN_USER");
    // alert(userStatus);

    if (userStatus != null) {

        $(".navLog[data-loggedIn='true']").show();
        $(".navLog[data-loggedIn='false']").hide();
    } else {

        $(".navLog[data-loggedIn='true']").hide();
        $(".navLog[data-loggedIn='false']").show();
    }

    function logout() {
        localStorage.clear();
        window.location.href = "login.html";
    }
</script>